<table cellspacing="2" width="100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Start Time<br/>(End Time)</th>
    <th>Distance</th>
    <th>Time<br/>(Rolling)</th>
    <th>Avg/Max Cadence</th>
    <th>Avg/Max BPM</th>
    <th>Avg/Max Speed</th>
    <th>Ascent<br/>Decent</th>
    <th>Calories</th>
  </tr>
</thead>
<tbody>
  <% paginated_section @activities do %>
  <% @activities.each do |activity| %>
    <tr id="<%= dom_id(activity)%>">
      <td>
        <%= link_to activity.name, activity_url(activity) %><br/>
        <% activity.tags.each do |tag| %>
          <%= link_to tag.to_s, tags_activities_url + "/?tags=#{tag}" %>
        <% end %>
      </td>
      <td><%= activity.start_time.to_formatted_s(:db) %><br/><%= activity.end_time.to_formatted_s(:db) %></td>
      <td><%= prefered_distance_with_units(activity.total_meters) %></td>
      <td><%= seconds_to_human_readable(activity.total_time) %>
        <br/>
        (<%= seconds_to_human_readable(activity.rolling_time) %>)
      </td>
      <td><%= activity.average_cadence %> rpm<br/> <%= activity.maximum_cadence %> rpm</td>
      <td><%= activity.average_bpm %> bpm<br/> <%= activity.maximum_bpm %> bpm</td>
      <td><%= kph_to_prefered_speed_with_units(activity.average_speed) %><br/> <%= kph_to_prefered_speed_with_units(activity.maximum_speed) %></td>
      <td><%= prefered_distance_with_units(activity.total_ascent)%><br/> <%= prefered_distance_with_units(activity.total_descent)%></td>
      <td><%= activity.total_calories %> Cal</td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<%= page_entries_info @activities %>
