<h1>Listing laps</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Total meters</th>
    <th>Total time seconds</th>
    <th>Total rolling time seconds</th>
    <th>Average cadence</th>
    <th>Maximum cadence</th>
    <th>Average bpm</th>
    <th>Maximum bpm</th>
    <th>Average speed</th>
    <th>Maximum speed</th>
    <th>Calories</th>
    <th>Start Time</th>
    <th>Endtime</th>
    <th>Total ascent</th>
    <th>Total descent</th>
  </tr>

<% for lap in @laps %>
  <tr>
    <td><%=h lap.activity %></td>
    <td><%=h lap.total_meters %></td>
    <td><%=h lap.total_time_seconds %></td>
    <td><%=h lap.total_rolling_time_seconds %></td>
    <td><%=h lap.average_cadence %></td>
    <td><%=h lap.maximum_cadence %></td>
    <td><%=h lap.average_bpm %></td>
    <td><%=h lap.maximum_bpm %></td>
    <td><%=h lap.average_speed %></td>
    <td><%=h lap.maximum_speed %></td>
    <td><%=h lap.calories %></td>
    <td><%=h lap.start_time %></td>
    <td><%=h lap.end_time %></td>
    <td><%=h lap.total_ascent %></td>
    <td><%=h lap.total_descent %></td>
    <td><%= link_to 'Show', [@activity, lap] %></td>
    <td><%= link_to 'Edit', [:edit, @activity, lap] %></td>
    <td><%= link_to 'Destroy', [@activity, lap], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lap', new_activity_lap_path(@activity) %>
