<h1>New lap</h1>

<% form_for([@activity, @lap]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :total_meters %><br />
    <%= f.text_field :total_meters %>
  </p>
  <p>
    <%= f.label :total_time_seconds %><br />
    <%= f.text_field :total_time_seconds %>
  </p>
  <p>
    <%= f.label :total_rolling_time_seconds %><br />
    <%= f.text_field :total_rolling_time_seconds %>
  </p>
  <p>
    <%= f.label :average_cadence %><br />
    <%= f.text_field :average_cadence %>
  </p>
  <p>
    <%= f.label :maximum_cadence %><br />
    <%= f.text_field :maximum_cadence %>
  </p>
  <p>
    <%= f.label :average_bpm %><br />
    <%= f.text_field :average_bpm %>
  </p>
  <p>
    <%= f.label :maximum_bpm %><br />
    <%= f.text_field :maximum_bpm %>
  </p>
  <p>
    <%= f.label :average_speed %><br />
    <%= f.text_field :average_speed %>
  </p>
  <p>
    <%= f.label :maximum_speed %><br />
    <%= f.text_field :maximum_speed %>
  </p>
  <p>
    <%= f.label :calories %><br />
    <%= f.text_field :calories %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :total_ascent %><br />
    <%= f.text_field :total_ascent %>
  </p>
  <p>
    <%= f.label :total_descent %><br />
    <%= f.text_field :total_descent %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', activity_laps_path %>
