<p>
  <b>Activity:</b>
  <%=h @lap.activity %>
</p>

<p>
  <b>Total meters:</b>
  <%=h @lap.total_meters %>
</p>

<p>
  <b>Total time seconds:</b>
  <%=h @lap.total_time_seconds %>
</p>

<p>
  <b>Total rolling time seconds:</b>
  <%=h @lap.total_rolling_time_seconds %>
</p>

<p>
  <b>Average cadence:</b>
  <%=h @lap.average_cadence %>
</p>

<p>
  <b>Maximum cadence:</b>
  <%=h @lap.maximum_cadence %>
</p>

<p>
  <b>Average bpm:</b>
  <%=h @lap.average_bpm %>
</p>

<p>
  <b>Maximum bpm:</b>
  <%=h @lap.maximum_bpm %>
</p>

<p>
  <b>Average speed:</b>
  <%=h @lap.average_speed %>
</p>

<p>
  <b>Maximum speed:</b>
  <%=h @lap.maximum_speed %>
</p>

<p>
  <b>Calories:</b>
  <%=h @lap.calories %>
</p>

<p>
  <b>Start Time:</b>
  <%=h @lap.start_time %>
</p>

<p>
  <b>Endtime:</b>
  <%=h @lap.end_time %>
</p>

<p>
  <b>Total ascent:</b>
  <%=h @lap.total_ascent %>
</p>

<p>
  <b>Total descent:</b>
  <%=h @lap.total_descent %>
</p>


<%= link_to 'Edit', [:edit , @activity, @lap] %> |
<%= link_to 'Back', activity_laps_path %>
